.App {
  text-align: center;
  font-family: "Georgia";
  font-style: italic;
  color: #d11400;
  background-color: #d0f5e5;
  background-size: cover;
  overflow: auto;
}

.App-header {
  font-size: calc(10px + 3vmin);
}

.kelpy {
  height:  22vmin;
}

h1 {
  font-size: calc(10px + 3vmin);
}

h2 {
  font-size: calc(40px);
  margin-top: 0em;
  margin-bottom: 0em;
}

h3 {
  font-size: calc(25px);
  margin-top: 0.2em;
  margin-bottom: 0.5em;
}

h4 {
  margin-top: 1.2em;
  margin-bottom: 0em;
}

h5 {
  display: inline-block;
  font-size: calc(10px + 2vmin);
  margin-top: 0em;
  margin-bottom: 1.8em;
}

h6 {
  font-size: calc(5.8px + 1vmin);
}

.note {
  position: relative;
  color: #FD9D54;
  background-color: white;
  border: 2px solid #FD9D54;
  border-radius: 2px;
  font-family: "Georgia";
  font-style: italic;
  font-weight: bold;
  font-size: 16px;
  padding: 8px 10px;
}

.accidental {
  position: relative;
  color: #FD9D54;
  background-color: white;
  border: 2px solid #FD9D54;
  border-radius: 2px;
  font-family: "Georgia";
  font-style: italic;
  font-weight: bold;
  font-size: 16px;
  padding: 8px 10px;
}

.check {
  position: relative;
  color: #135d0c;
  background-color: white;
  border: 2px solid #135d0c;
  border-radius: 2px;
  font-family: "Georgia";
  font-style: italic;
  font-weight: bold;
  padding: 10px 24px;;
}

#si {
      color: #135d0c;
}

#no {
      color: #d11400;
}
